@import "../../global";

  
     
    .logo2{
        width:clamp(4rem,9vw,7rem);
     margin-left: 2vw;
        filter: none;
        cursor: pointer;
    
    }
    .header-menu{
        font-size: 1.1rem;
        list-style: none;
        display: flex;
        align-items: center;
        margin-right: 5vw;
        gap:2rem;
        
        color:white;
        >a>li{
            padding: 7px;
            color: white;
          
          
        }
        li:hover{
            cursor: pointer;
          color:white;
          background:linear-gradient(210.41deg, #0e406c  1.14%, #188fb3 100.75%);
          border-radius:5px;
          box-shadow: 2px 3px rgb(30, 79, 147);

        }
    }
    

.header-visible{
display: flex;
justify-content: space-between;
margin-top: 2vw;
padding: 0 2rem;

}


@media screen and (max-width:768px){
    .header{
        width: 100%;
       
    }
    .header-menu{
        display:none;
    }
}
