@import "../../global";
.footer-container{
    position:relative;
   // background-color: #040719;
    a{
        color: white;
    }
   
    

   
>hr{
    border: 1px solid $lightgray;
    margin-bottom: 2rem;
}
}
.footer{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  
  

}
.social-media{
    text-align: center;
}
.social-links{
    margin-top:1.5rem;
    display: flex;
    gap: 2rem;
    img{
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        margin-bottom: 1rem;
    }

}
.logo-f>img{
 width: clamp(5rem,10vw,8rem);
    filter: none;
    margin-bottom:1rem

}
.footer-div{
    color: white;
    width: 90%;
    display: flex;
    justify-content:space-evenly;
    margin-left: auto;
    margin-right: auto;
    h5{
        width: 80%;
    }
}
.footer-content{
    width:33%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
  
    ul{
        display: flex;
        flex-direction: column;
        width:80%; 
        align-items: center;
    }
    h4{
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        color: #1f95f2;
      

    }
    p{
      width: 85%;
      margin-left: 16%;
      margin-right: 4%;
       
        font-size: 1rem;
        margin-bottom: .6rem;
    }
    ul{
        text-decoration: none;
        
        li{
            list-style: none;
            text-decoration: none;
            margin-bottom: .6rem;
            font-size: 1rem;
            width: 7rem;
            text-align: left;
        }
    }
}
.copyright{
   
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
    img{
        width: 2rem;
        margin-right: 1.4rem;

    }
}
.c-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #0c3658;
    padding: 5px;
}

.blur-f-1{
    bottom: 0;
    right: 15%;
    width: 26rem;
    height: 12rem;
    filter: blur(150px);
  
}
.blur-f-2{
    bottom: 0;
    left: 15%;
    width: 26rem;
    height: 12rem;
    filter: blur(150px);
   
}
@media  screen and (max-width:768px) {
    .footer{
        gap: 2rem;
        height: fit-content;
        padding-top: 3rem;
    }
}

@media  screen and (max-width:900px) {
    .footer-div{
        flex-direction: column;
    }
    .footer-content{
        width: 100%;
       display: block;
       p{
        width: 100%;
      margin-left: 0;
         
          font-size: .9rem;
          margin-bottom: .9rem;
      }
    }
    h4{
        text-align: left;
     
    }


.footer-content{
    ul{
        display: inline;
        li{margin-bottom: .4rem;}
    }
    p{font-size:.8rem ;
    margin-top: .5rem;
margin-bottom: .6rem;}
    h4{
        font-size: 1rem;
        margin-top: .7rem;
    }
    .social-links {
        margin-top: 1.5rem;
        display: flex;
        gap: 2rem;
    }
    .social-links{
        margin-top:1.5rem;
        display: flex;
       
        img{
            width: 1.4rem;
            height: 1.4rem;
            cursor: pointer;
            margin-bottom: 1rem;
        }
    
    }
}
}