@import "../../global";

.Testimonials{
    display: flex;
    gap:1rem;
    padding : 0 2rem;
    margin-bottom: 50px;

}

.left-t{
    display: flex;
    flex:1 1;
    gap:2rem;
    flex-direction: column;
    text-transform: uppercase;
    color: white;

}
.left-t>:nth-child(1){
    color: $orange;
    font-weight: bold;

}
.left-t>:nth-child(2),.left-t>:nth-child(3){

    font-weight: bold;
    font-size: 3rem;
} 
.name{
    color: $orange;
}  
.left-t>:nth-child(4){
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 40px;

}

.right-t{
    display: flex;
    flex:1;
    position: relative;
    flex-direction: column;
    >img{
        position: absolute;
        width: 17rem;
        height: 20rem;
        object-fit: cover;
        right: 8rem;
        top: 2rem;
        filter: none;

    }
}
.right-t>:nth-child(1){
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: 2px solid rgb(20, 97, 211);
    background-color: transparent;
    right: 9rem;
    top:0.9rem;
}
.right-t>:nth-child(2){
    position: absolute;
    width: 17rem;
    height: 19rem;
   background: $planCard;
   right: 7rem;
    top:4rem;
}
.arrows{
    display: flex;
    gap:1rem;
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    >img{
        width: 1.5rem;
        cursor: pointer;
    }
}
@media screen and (max-width:768px){
    .Testimonials{
        flex-direction: column;

    }
  .right-t{
    min-height: 450px;
  }
  .right-t>:nth-child(1){
position: absolute;
width: 52%;
left: 22%;
 right: 26%;

  }
  .right-t>:nth-child(2){
    width: 52%;
    left:26%;
    
 right: 22%;

  }
  .right-t>:nth-child(3){
    width: 52%;
 left: 24%;
 right: 24%;
}
.arrows{
  width: 18%;
  left: 40%;
  right: 40%;
  justify-content:space-around;
}

.left-t > :nth-child(4) {
    text-transform: none;
    text-align: justify;
    letter-spacing: 0px;
    line-height: 30px;
}
}

@media screen and (max-width:560px){
.left-t>:nth-child(2),.left-t>:nth-child(3){
    font-size: 2rem;
}
.left-t{
    gap: 1rem;
}
.right-t>:nth-child(1){
    position: absolute;
    width: 70%;
    left: 13%;
     right: 17%;
      }
      .right-t>:nth-child(2){
        width: 70%;
        left:17%;
        
     right: 13%;
    
      }
      .right-t>:nth-child(3){
        width: 70%;
     left: 15%;
     right: 15%;
    }
}

@media screen and (min-width:768px )  and(max-width:1170px){

    .right-t>:nth-child(1){
        position: absolute;
        
        height: 80%;
         right: 17%;
          }
          .right-t>:nth-child(2){
        
       
            
         right: 13%;
        height: 75%;
          }
          .right-t>:nth-child(3){
          
            height: 80%;
         right: 15%;
        }

        .left-t{
gap: 1rem;
        }
        .arrows{
           
            bottom: -1rem;
            width: 18%;
            left: 40%;
            right: 40%;
            justify-content:space-around;
          }
       
}


